<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" >
      <remove name="FormsAuthentication" />
      <add name="sagarahttpmodule" type="CustomHandlerAndModule.App_Code.SagarCustomHttpModule"> </add>
    </modules>
    <handlers>
      <add name="SagarCustomHandler" path="*.sagar" verb="*" type="CustomHandlerAndModule.App_Code.SagarCustomHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
    
  </system.web>
</configuration>